@model IEnumerable<HelpDeskSystem.Web.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h2>Ticket Management</h2>
<hr />

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Ticket</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>User</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Category?.Name</td>
            <td>@item.User?.Name</td>
            <td>@item.Status</td>
        </tr>
}
    </tbody>
</table>
